<!doctype html>

<html>
<head>
<title>SBTM-RCCAR</title>
</head>

<body>


<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="99%">
  <param name="movie" value="vgaplayer.swf" />
  <param name="FlashVars" value="url={{rtmpstring}}" />
  <embed src="{{ url_for('static', filename='flash/vgaplayer.swf')}}" 
	 width="100%" height="99%" 
	 allowScriptAccess="sameDomain"
	 allowFullScreen="true"
	 type="application/x-shockwave-flash"
	 FlashVars="url={{rtmpstring}}&amp;fullscreen=1"
	 pluginspage="http://www.adobe.com/go/getflashplayer" />
</object>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/control.js')}}"></script>

</body>
</html>